# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = APP
module-str = APP

config FPRIME
	bool "FPrime Support"
    select REQUIRES_FULL_LIBCPP
	help
	  This option enables support for the F' library

config APP_WIPE_STORAGE
	bool "Option to clear the flash area before mounting"
	help
	  Use this to force an existing file system to be created.

config LOCAL_USB_PRODUCT_STRING
	string "Local USB Product String"
	default "F Prime UART console"

config LOCAL_USB_MANUFACTURER_STRING
	string "Local USB Manufacturer String"
	default "F Prime"

config LOCAL_USB_PID
	hex "Local USB Product ID"
	default 0x000F

config LOCAL_USB_VID
	hex "Local USB Vendor ID"
	default 0x0028

config LOCAL_USB_MAX_POWER
	int "Local USB Max Power (mA)"
	default 100
